@import url('reset.css');
@import url('global.css');
@import url('components/_navigator.css');
@import url('components/_pill.css');
@import url('components/_link-button.css');
@import url('components/_gallery.css');

.s-wrapper{
  display: flex;
  height: 140vh;
  flex-flow: row nowrap;
}

.s-wrapper .s-left-column{
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding-right: 50px;
  left: 0;
  top: 0;
  z-index: 1;
}

.s-wrapper .s-main-content{
  width: 100%;
  height: 100%;
  padding-left: 130px;
  position: relative;
  background-image: url('../../assets/images/spiderman-tom/movie-01/background.png');
  background-size: cover;
}

.s-wrapper .s-main-content__top{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.s-wrapper .s-main-content__bottom{
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 30px;
}

.s-wrapper .s-main-content .s-logo{
  margin-top: 20px;
  margin-left: 0;
  margin-bottom: 30px;
}

.s-wrapper .s-main-content__top .s-description{
  background-color: rgba(0,0,0,.7);
  max-width: 60%;
  padding: 20px;
  border-radius: 10px;
}

.s-wrapper .s-main-content__top .s-description .s-description__text p{
  color: white;
  line-height: 140%;
}

.s-wrapper .s-main-content__top .s-description .pills{
  margin-bottom: 20px;
}

.s-wrapper .s-main-content .s-links{
  padding: 20px;
  padding-left: 0;
}

.s-wrapper .s-main-content .s-links ul{
  display: flex;
  flex-direction: row;
}

.s-wrapper .s-main-content__bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
